<html>
<body>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Type text">
        <input type="text" name="tag" placeholder="Tag">
        <button type="submit">Add</button>
    </form>
</div>
<div>Message list</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Search</button>
</form>
{{#messages}}
    <div>
    <b>{{id}}</b>
    <b>{{text}}</b>
    <b>{{tag}}</b>
    </div>
{{/messages}}
</body>
</html>